// Reset Script
@import 'normalize.less';

* {
    box-sizing: border-box;
}
.hidden {
    display: none;
}
body {
    padding: 0;

    #gameBoard {
        background-color: transparent;

        &, &-background {
            position: fixed;
            // height: auto;
            // width: 100%;
        }
        &-background {
            background-color: lighten(#A7DBEB, 20%);
            background-image: linear-gradient(to bottom, #A7DBEB 0%, #546F9C 100%);
            z-index: -1;
        }
    }
}
.students {
    list-style-type: none;
}
@-webkit-keyframes glow {
    50% { box-shadow: 0 0 .5em lightgreen; }
}
@keyframes glow {
    50% { box-shadow: 0 0 .5em lightgreen; }
}

.person {
    display: inline-block;
    height: 2em;
    width: 2em;
    // padding: 4em 1em 2em 1em; 
    margin: 4em 1em 2em 1em;
    border-radius: 50%;
    background: #fae4c3;
    border: .1em solid darken(#fae4c3, 10%);
    cursor: pointer;
    position: relative;
    // z-index: 1;


    &.is-leader, &.is-leader:before {
        box-shadow: 0 0 0 .1em #fff,
                    0 0 .2em .2em #fff;
    }
    &:after {
        transition: 200ms all;
        content: '';
        background: url('/images/envelope-128.png');
        background-size: 32px;
        width: 28px;
        height: 17px;
        display: block;
        position: absolute;
        top: 50%;
        left: -50%;
        background-position: -2px -7px;
        border-radius: 5%;
        opacity: 0;
    }
    &.has-message{
        &.active-message:after {
            -webkit-animation-name: glow;
            -webkit-animation-duration: 1s;
            -webkit-animation-iteration-count: infinite;
            animation-name: glow;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }
        &:after {
            opacity: 1;
            top: -50%;
        }
    }


    &:before {
        display: block;
        content: '';
        position: relative;
        top: 90%;
        left: -25%;
        height: 50%;
        width: 150%;
        border: .1em solid darken(#ff0000, 30%);
        border-radius: 100% 100% .1em .1em;
        background: darken(#ff0000, 30%);
        z-index: -1;
    }
    &.selected &-name, &:hover &-name {
        opacity: 1;
    }
    &-name {
        cursor: pointer;
        text-align: center;
        opacity: 0;
        background: hsla(22, 100, 90, .5);
        border-radius: .1em;
        position: absolute;
        top: 150%;
        width: 250%;
        left: -75%;
        box-shadow: 0 0 .2em #aaa;
    }
}
.active, .active:after {
    box-shadow: 0 0 .3em green;
}